--
-- PostgreSQL database dump
--

\restrict z7UfqCWBcIodBiu0M5co2PlM4DlJykp3rGDMK3MdGOB16t8W1jceawxk3fT42vR

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: sales; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA sales;


ALTER SCHEMA sales OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: fact_sales; Type: TABLE; Schema: sales; Owner: postgres
--

CREATE TABLE sales.fact_sales (
    id bigint NOT NULL,
    posting_date date NOT NULL,
    year integer NOT NULL,
    month integer NOT NULL,
    year_month text NOT NULL,
    revenue numeric,
    quantity numeric,
    is_return boolean,
    channel text,
    sub_channel text,
    chain text,
    customer text,
    district text,
    state text,
    zone text,
    city text,
    category text,
    sub_category text,
    segment text,
    category_mapping_new text,
    category_mapping_old text,
    master_sku text,
    variant_code text,
    master_variant text,
    flavour text,
    size text,
    cpg text,
    sales_leader text,
    rsm text,
    asm text,
    population_group text,
    source_doc_no text,
    source_no text,
    line_no text
);


ALTER TABLE sales.fact_sales OWNER TO postgres;

--
-- Name: fact_sales_id_seq; Type: SEQUENCE; Schema: sales; Owner: postgres
--

CREATE SEQUENCE sales.fact_sales_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE sales.fact_sales_id_seq OWNER TO postgres;

--
-- Name: fact_sales_id_seq; Type: SEQUENCE OWNED BY; Schema: sales; Owner: postgres
--

ALTER SEQUENCE sales.fact_sales_id_seq OWNED BY sales.fact_sales.id;


--
-- Name: monthly_growth_channel; Type: VIEW; Schema: sales; Owner: postgres
--

CREATE VIEW sales.monthly_growth_channel AS
 SELECT year_month,
    channel,
    revenue,
    quantity,
    lag(revenue) OVER (PARTITION BY channel ORDER BY year_month) AS prev_revenue,
        CASE
            WHEN ((lag(revenue) OVER (PARTITION BY channel ORDER BY year_month) IS NULL) OR (lag(revenue) OVER (PARTITION BY channel ORDER BY year_month) = (0)::numeric)) THEN NULL::numeric
            ELSE ((revenue - lag(revenue) OVER (PARTITION BY channel ORDER BY year_month)) / lag(revenue) OVER (PARTITION BY channel ORDER BY year_month))
        END AS growth_pct
   FROM ( SELECT fact_sales.year_month,
            fact_sales.channel,
            sum(fact_sales.revenue) AS revenue,
            sum(fact_sales.quantity) AS quantity
           FROM sales.fact_sales
          GROUP BY fact_sales.year_month, fact_sales.channel) t;


ALTER VIEW sales.monthly_growth_channel OWNER TO postgres;

--
-- Name: monthly_sales; Type: VIEW; Schema: sales; Owner: postgres
--

CREATE VIEW sales.monthly_sales AS
 SELECT year,
    month,
    year_month,
    channel,
    sub_channel,
    chain,
    customer,
    zone,
    state,
    district,
    city,
    category,
    sub_category,
    segment,
    category_mapping_new,
    category_mapping_old,
    master_sku,
    variant_code,
    master_variant,
    flavour,
    size,
    cpg,
    sales_leader,
    rsm,
    asm,
    population_group,
    sum(revenue) AS revenue,
    sum(quantity) AS quantity
   FROM sales.fact_sales
  GROUP BY year, month, year_month, channel, sub_channel, chain, customer, zone, state, district, city, category, sub_category, segment, category_mapping_new, category_mapping_old, master_sku, variant_code, master_variant, flavour, size, cpg, sales_leader, rsm, asm, population_group;


ALTER VIEW sales.monthly_sales OWNER TO postgres;

--
-- Name: fact_sales id; Type: DEFAULT; Schema: sales; Owner: postgres
--

ALTER TABLE ONLY sales.fact_sales ALTER COLUMN id SET DEFAULT nextval('sales.fact_sales_id_seq'::regclass);


--
-- Data for Name: fact_sales; Type: TABLE DATA; Schema: sales; Owner: postgres
--



--
-- Name: fact_sales_id_seq; Type: SEQUENCE SET; Schema: sales; Owner: postgres
--

SELECT pg_catalog.setval('sales.fact_sales_id_seq', 1343, true);


--
-- Name: fact_sales fact_sales_pkey; Type: CONSTRAINT; Schema: sales; Owner: postgres
--

ALTER TABLE ONLY sales.fact_sales
    ADD CONSTRAINT fact_sales_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict z7UfqCWBcIodBiu0M5co2PlM4DlJykp3rGDMK3MdGOB16t8W1jceawxk3fT42vR

